<% vv = @issue.votes_value %>
<%= content_tag('span', vv, :class => (vv > 0? 'votes-positive': ( vv < 0 ? 'votes-negative' : ''))) %>
<%= content_tag('span', " (" + @issue.votes_for.to_s + "/" + @issue.votes_count.to_s + ", " + @issue.votes_percent.round(1).to_s + "%)") %>

<% @project = @issue.project %>
<%= javascript_include_tag('votes', :plugin => 'redmine_vote') %>
<%= hidden_field_tag 'vote_issue_id', @issue.id %>

<% if allowed_to_vote?(@issue, :up) or allowed_to_vote?(@issue, :down) %>
  <% if allowed_to_vote?(@issue, :up, 2) or allowed_to_vote?(@issue, :down, 2) %>
    <br><%= number_field_tag 'vote_count',  '1' %>
  <% else %>
    <%= hidden_field_tag 'vote_count', '1' %>
  <% end %>
  <% if allowed_to_vote?(@issue, :up) %>
    <%= link_to("", { :controller => 'vote', :action => 'up', :id => @issue }, :class => 'icon icon-vote-up', :method => 'post', :id => 'vote_up') %>
  <% end %>
  <% if allowed_to_vote?(@issue, :down) %>
    <%= link_to("", { :controller => 'vote', :action => 'down', :id => @issue }, :class => 'icon icon-vote-down', :method => 'post', :id => 'vote_down') %>
  <% end %>
  <% if allowed_to_vote?(@issue, :clear)  and (@issue.votes_count != 0) %>
    <%= link_to("", { :controller => 'vote', :action => 'clear', :id => @issue }, :class => 'icon icon-del', :method => 'delete', :id => 'vote_delete') %>
  <% end %>
<% end %>

<div>
  <%= content_tag('div', l(:label_votes_vote_failed), :hidden => success.nil? || success, :class => 'vote-failed', :id => 'vote-failed') %>
</div>

